Adding Population columns

In [19]:
%matplotlib notebook

#Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

census_data = pd.read_csv("Resources/NST-EST2022-ALLDATA.csv")
national_covid = pd.read_csv("Resources/national-history.csv")
nc_covid = pd.read_csv("Resources/north-carolina-history.csv")

In [20]:
# Display Census Df
census_data.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,NPOPCHG_2020,...,RDEATH2021,RDEATH2022,RNATURALCHG2021,RNATURALCHG2022,RINTERNATIONALMIG2021,RINTERNATIONALMIG2022,RDOMESTICMIG2021,RDOMESTICMIG2022,RNETMIG2021,RNETMIG2022
0,10,0,0,0,United States,331449520,331511512,332031554,333287557,61992,...,10.363828,10.350218,0.434073,0.736729,1.133397,3.038912,0.000000,0.000000,1.133397,3.038912
1,20,1,0,0,Northeast Region,57609156,57448898,57259257,57040406,-160258,...,9.780142,9.868918,0.206629,0.511200,1.402708,3.752662,-4.855348,-8.061896,-3.452640,-4.309234
2,30,1,1,0,New England,15116206,15074473,15121745,15129548,-41733,...,9.530598,9.887115,-0.310502,-0.206669,1.770752,4.655140,1.546021,-3.767839,3.316773,0.887301
3,30,1,2,0,Middle Atlantic,42492950,42374425,42137512,41910858,-118525,...,9.869304,9.862369,0.391400,0.769581,1.271205,3.427836,-7.142565,-9.607444,-5.871360,-6.179608
4,20,2,0,0,Midwest Region,68985537,68961043,68836505,68787595,-24494,...,11.059195,11.169148,-0.207043,-0.125530,0.802714,2.111084,-2.645374,-2.529339,-1.842660,-0.418255

In [21]:
# Get the values of interest
us_pop_2020 = census_data.loc[census_data['NAME'] == 'United States']['POPESTIMATE2020'].item()
print(us_pop_2020)
us_pop_2021 = census_data.loc[census_data['NAME'] == 'United States']['POPESTIMATE2021'].item()
print(us_pop_2021)
nc_pop_2020 = census_data.loc[census_data['NAME'] == 'North Carolina']['POPESTIMATE2020'].item()
print(nc_pop_2020)
nc_pop_2021 = census_data.loc[census_data['NAME'] == 'North Carolina']['POPESTIMATE2021'].item()
print(nc_pop_2021)

331511512
332031554
10449445
10565885

In [22]:
#Preview National data
list(national_covid)

['date',
 'death',
 'deathIncrease',
 'inIcuCumulative',
 'inIcuCurrently',
 'hospitalizedIncrease',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'negative',
 'negativeIncrease',
 'onVentilatorCumulative',
 'onVentilatorCurrently',
 'positive',
 'positiveIncrease',
 'states',
 'totalTestResults',
 'totalTestResultsIncrease']

In [23]:
#Preview NC data
list(nc_covid)

['date',
 'state',
 'death',
 'deathConfirmed',
 'deathIncrease',
 'deathProbable',
 'hospitalized',
 'hospitalizedCumulative',
 'hospitalizedCurrently',
 'hospitalizedIncrease',
 'inIcuCumulative',
 'inIcuCurrently',
 'negative',
 'negativeIncrease',
 'negativeTestsAntibody',
 'negativeTestsPeopleAntibody',
 'negativeTestsViral',
 'onVentilatorCumulative',
 'onVentilatorCurrently',
 'positive',
 'positiveCasesViral',
 'positiveIncrease',
 'positiveScore',
 'positiveTestsAntibody',
 'positiveTestsAntigen',
 'positiveTestsPeopleAntibody',
 'positiveTestsPeopleAntigen',
 'positiveTestsViral',
 'recovered',
 'totalTestEncountersViral',
 'totalTestEncountersViralIncrease',
 'totalTestResults',
 'totalTestResultsIncrease',
 'totalTestsAntibody',
 'totalTestsAntigen',
 'totalTestsPeopleAntibody',
 'totalTestsPeopleAntigen',
 'totalTestsPeopleViral',
 'totalTestsPeopleViralIncrease',
 'totalTestsViral',
 'totalTestsViralIncrease']

In [24]:
# add column for us population
national_covid.insert(1,"US Population","",True)

national_covid.loc[national_covid['date'].str.contains('2021'),'US Population'] = us_pop_2021
national_covid.loc[national_covid['date'].str.contains('2020'),'US Population'] = us_pop_2020

national_covid

,date,US Population,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,states,totalTestResults,totalTestResultsIncrease
0,2021-03-07,332031554,515151.0,842,45475.0,8134.0,726,40199.0,776361.0,74582825.0,131835,4281.0,2802.0,28756489.0,41835,56,363825123,1170059
1,2021-03-06,332031554,514309.0,1680,45453.0,8409.0,503,41401.0,775635.0,74450990.0,143835,4280.0,2811.0,28714654.0,60015,56,362655064,1430992
2,2021-03-05,332031554,512629.0,2221,45373.0,8634.0,2781,42541.0,775132.0,74307155.0,271917,4275.0,2889.0,28654639.0,68787,56,361224072,1744417
3,2021-03-04,332031554,510408.0,1743,45293.0,8970.0,1530,44172.0,772351.0,74035238.0,177957,4267.0,2973.0,28585852.0,65487,56,359479655,1590984
4,2021-03-03,332031554,508665.0,2449,45214.0,9359.0,2172,45462.0,770821.0,73857281.0,267001,4260.0,3094.0,28520365.0,66836,56,357888671,1406795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,2020-01-17,331511512,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
416,2020-01-16,331511512,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
417,2020-01-15,331511512,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
418,2020-01-14,331511512,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
419,2020-01-13,331511512,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,0,1,0,0

In [25]:
# add column for nc population
nc_covid.insert(1,"NC Population","",True)

nc_covid.loc[nc_covid['date'].str.contains('2021'),'NC Population'] = nc_pop_2021
nc_covid.loc[nc_covid['date'].str.contains('2020'),'NC Population'] = nc_pop_2020

nc_covid

,date,NC Population,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,10565885,NC,11502.0,10169.0,0,1333.0,NaN,NaN,1179.0,...,9688838.0,0,NaN,805924.0,NaN,NaN,NaN,0,9688838.0,0
1,2021-03-06,10565885,NC,11502.0,10169.0,56,1333.0,NaN,NaN,1179.0,...,9688838.0,38654,NaN,805924.0,NaN,NaN,NaN,0,9688838.0,38654
2,2021-03-05,10565885,NC,11446.0,10125.0,47,1321.0,NaN,NaN,1226.0,...,9650184.0,44487,NaN,798257.0,NaN,NaN,NaN,0,9650184.0,44487
3,2021-03-04,10565885,NC,11399.0,10083.0,36,1316.0,NaN,NaN,1290.0,...,9605697.0,44050,NaN,790416.0,NaN,NaN,NaN,0,9605697.0,44050
4,2021-03-03,10565885,NC,11363.0,10050.0,75,1313.0,NaN,NaN,1303.0,...,9561647.0,19976,NaN,779652.0,NaN,NaN,NaN,0,9561647.0,19976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,2020-03-08,10449445,NC,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
365,2020-03-07,10449445,NC,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
366,2020-03-06,10449445,NC,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
367,2020-03-05,10449445,NC,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
368,2020-03-04,10449445,NC,NaN,NaN,0,NaN,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [26]:
# Cleaning the national dataframe
national_covid = national_covid.rename(columns={
 'death': 'US Deaths',
 'deathIncrease': 'US DeathIncrease',
 'inIcuCumulative': 'US inICUCumulative',
 'inIcuCurrently': 'US inICUCurrently',
 'hospitalizedIncrease': 'US HospitalizedIncrease',
 'hospitalizedCurrently': 'US HospitalizedCurrently',
 'hospitalizedCumulative': 'US HospitalizedCumulative',
 'negative': 'US Negative',
 'negativeIncrease': 'US NegativeIncrease',
 'onVentilatorCumulative': 'US OnVentilatorCumulative',
 'onVentilatorCurrently': 'US OnVentilatorCurrently',
 'positive': 'US Positive',
 'positiveIncrease': 'US PositiveIncrease',
 'totalTestResults': 'US TotalTestResults',
 'totalTestResultsIncrease': 'US TotalTestResultsIncrease'
}
)
national_covid = national_covid.fillna(0)
national_covid = national_covid.drop('states',axis=1)
national_covid

,date,US Population,US Deaths,US DeathIncrease,US inICUCumulative,US inICUCurrently,US HospitalizedIncrease,US HospitalizedCurrently,US HospitalizedCumulative,US Negative,US NegativeIncrease,US OnVentilatorCumulative,US OnVentilatorCurrently,US Positive,US PositiveIncrease,US TotalTestResults,US TotalTestResultsIncrease
0,2021-03-07,332031554,515151.0,842,45475.0,8134.0,726,40199.0,776361.0,74582825.0,131835,4281.0,2802.0,28756489.0,41835,363825123,1170059
1,2021-03-06,332031554,514309.0,1680,45453.0,8409.0,503,41401.0,775635.0,74450990.0,143835,4280.0,2811.0,28714654.0,60015,362655064,1430992
2,2021-03-05,332031554,512629.0,2221,45373.0,8634.0,2781,42541.0,775132.0,74307155.0,271917,4275.0,2889.0,28654639.0,68787,361224072,1744417
3,2021-03-04,332031554,510408.0,1743,45293.0,8970.0,1530,44172.0,772351.0,74035238.0,177957,4267.0,2973.0,28585852.0,65487,359479655,1590984
4,2021-03-03,332031554,508665.0,2449,45214.0,9359.0,2172,45462.0,770821.0,73857281.0,267001,4260.0,3094.0,28520365.0,66836,357888671,1406795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,2020-01-17,331511512,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0,0
416,2020-01-16,331511512,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0,0
417,2020-01-15,331511512,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0,0
418,2020-01-14,331511512,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0,0
419,2020-01-13,331511512,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0,0

In [27]:
# cleaning NC dataframe
nc_covid = nc_covid.rename(columns={
 'death':'NC death',
 'deathIncrease':'NC DeathIncrease',
 'hospitalizedCumulative':'NC HospitalizedCumulative',
 'hospitalizedCurrently': 'NC HospitalizedCurrently',
 'hospitalizedIncrease': 'NC HospitalizedIncrease',
 'inIcuCumulative': 'NC InIcuCumulative',
 'inIcuCurrently': 'NC InIcuCurrently',
 'negative': 'NC Negative',
 'negativeIncrease': 'NC NegativeIncrease',
 'onVentilatorCumulative': 'NC OnVentilatorCumulative',
 'onVentilatorCurrently': 'NC OnVentilatorCurrently',
 'positive': 'NC Positive',
 'positiveIncrease': 'NC PositiveIncrease',
 'totalTestResults': 'NC TotalTestResults',
 'totalTestResultsIncrease': 'NC TotalTestResultsIncrease'
})
nc_covid = nc_covid.drop([
 'state',
 'deathConfirmed',
 'deathProbable',
 'hospitalized',
 'negativeTestsAntibody',
 'negativeTestsPeopleAntibody',
 'negativeTestsViral',
 'positiveCasesViral',
 'positiveScore',
 'positiveTestsAntibody',
 'positiveTestsAntigen',
 'positiveTestsPeopleAntibody',
 'positiveTestsPeopleAntigen',
 'positiveTestsViral',
 'recovered',
 'totalTestEncountersViral',
 'totalTestEncountersViralIncrease',
 'totalTestsAntibody',
 'totalTestsAntigen',
 'totalTestsPeopleAntibody',
 'totalTestsPeopleAntigen',
 'totalTestsPeopleViral',
 'totalTestsPeopleViralIncrease',
 'totalTestsViral',
 'totalTestsViralIncrease'],
 axis=1)
nc_covid = nc_covid.fillna(0)
nc_covid

,date,NC Population,NC death,NC DeathIncrease,NC HospitalizedCumulative,NC HospitalizedCurrently,NC HospitalizedIncrease,NC InIcuCumulative,NC InIcuCurrently,NC Negative,NC NegativeIncrease,NC OnVentilatorCumulative,NC OnVentilatorCurrently,NC Positive,NC PositiveIncrease,NC TotalTestResults,NC TotalTestResultsIncrease
0,2021-03-07,10565885,11502.0,0,0.0,1179.0,0,0.0,309.0,0.0,0,0.0,0.0,872176,0,9688838.0,0
1,2021-03-06,10565885,11502.0,56,0.0,1179.0,0,0.0,309.0,0.0,0,0.0,0.0,872176,2027,9688838.0,38654
2,2021-03-05,10565885,11446.0,47,0.0,1226.0,0,0.0,314.0,0.0,0,0.0,0.0,870149,2093,9650184.0,44487
3,2021-03-04,10565885,11399.0,36,0.0,1290.0,0,0.0,326.0,0.0,0,0.0,0.0,868056,2502,9605697.0,44050
4,2021-03-03,10565885,11363.0,75,0.0,1303.0,0,0.0,332.0,0.0,0,0.0,0.0,865554,2145,9561647.0,19976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364,2020-03-08,10449445,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,2,0,0.0,0
365,2020-03-07,10449445,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,2,0,0.0,0
366,2020-03-06,10449445,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,2,1,0.0,0
367,2020-03-05,10449445,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,1,0,0.0,0
368,2020-03-04,10449445,0.0,0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,1,0,0.0,0

In [28]:
# Make a merged dataframe
us_and_nc_df = pd.merge(national_covid, nc_covid, how='outer', on='date')
us_and_nc_df.head()

,date,US Population,US Deaths,US DeathIncrease,US inICUCumulative,US inICUCurrently,US HospitalizedIncrease,US HospitalizedCurrently,US HospitalizedCumulative,US Negative,...,NC InIcuCumulative,NC InIcuCurrently,NC Negative,NC NegativeIncrease,NC OnVentilatorCumulative,NC OnVentilatorCurrently,NC Positive,NC PositiveIncrease,NC TotalTestResults,NC TotalTestResultsIncrease
0,2021-03-07,332031554,515151.0,842,45475.0,8134.0,726,40199.0,776361.0,74582825.0,...,0.0,309.0,0.0,0.0,0.0,0.0,872176.0,0.0,9688838.0,0.0
1,2021-03-06,332031554,514309.0,1680,45453.0,8409.0,503,41401.0,775635.0,74450990.0,...,0.0,309.0,0.0,0.0,0.0,0.0,872176.0,2027.0,9688838.0,38654.0
2,2021-03-05,332031554,512629.0,2221,45373.0,8634.0,2781,42541.0,775132.0,74307155.0,...,0.0,314.0,0.0,0.0,0.0,0.0,870149.0,2093.0,9650184.0,44487.0
3,2021-03-04,332031554,510408.0,1743,45293.0,8970.0,1530,44172.0,772351.0,74035238.0,...,0.0,326.0,0.0,0.0,0.0,0.0,868056.0,2502.0,9605697.0,44050.0
4,2021-03-03,332031554,508665.0,2449,45214.0,9359.0,2172,45462.0,770821.0,73857281.0,...,0.0,332.0,0.0,0.0,0.0,0.0,865554.0,2145.0,9561647.0,19976.0